/* ----------------------------common css ---------------------------*/
* {
  margin: 0;
  padding: 0;
}
img {
  width: 100%;
}

section {
  width: 100%;
  /* min-height: 100vh; */
  padding-top: 60px;
}
#home {
  position: relative;
}
.heading-bottom-border {
  width: 70px;
  border-bottom: 4px solid transparent;
  border-image: linear-gradient(
    90deg,
    rgba(107, 233, 241, 0.9500175070028011) 0%,
    rgba(51, 42, 209, 0.8519782913165266) 100%
  );
  border-image-slice: 1;
}
/*----------------------------- section-1: Home ---------------------------------------*/
.image {
  background: url(./img/Home/home-img.jpg);
  height: 100vh;
  width: 100%;
  background-size: cover;
  background-attachment: fixed;
}
.image::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(
    180deg,
    rgba(51, 42, 209, 0.6558998599439776) 24%,
    rgba(107, 233, 241, 0.700717787114846) 84%
  );
  width: 100%;
  min-height: 100vh;
}
.overlay {
  position: absolute;
}
.overlay-btn {
  background: linear-gradient(
    180deg,
    rgba(51, 42, 209, 0.6558998599439776) 24%,
    rgba(107, 233, 241, 0.700717787114846) 84%
  );
}
/*----------------------------- section-2 : Services---------------------------------------  */
.service .service-img{
  position: relative;
}
.service .service-img .icon {
  width: 90px;
  height: 90px;
  background: linear-gradient(
    180deg,
    rgba(51, 42, 209, 1) 24%,
    rgba(107, 233, 241, 1) 84%
  );
  color: #fff;
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: -45px;
  left: 50%;
  transform: translateX(-50%);
}

.service .service-img .icon i{
  font-size: 36px;
}

/*----------------------------- section-3 : About--------------------------------------- */
#about {
  min-height: 350px !important;
}
.about {
  background: url(./img/Home/home-img.jpg) no-repeat top;
  background-size: cover;
  height: 350px;
  position: relative;
  background-attachment: fixed;
}
.about::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 350px;
  background: linear-gradient(
    180deg,
    rgba(51, 42, 209, 0.6558998599439776) 24%,
    rgba(107, 233, 241, 0.700717787114846) 84%
  );
  z-index: 1;
}

/*----------------------------- section-4 : Features---------------------------------------  */
.feature-icon {
  background: -webkit-linear-gradient(
    90deg,
    rgba(107, 233, 241, 0.9500175070028011) 0%,
    rgba(51, 42, 209, 0.8519782913165266) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
/* extra section  */
.extra-section {
  width: 100%;
  min-height: 350px !important;
}
.extra-section-div {
  background: url(./img/Home/home-img.jpg) no-repeat top;
  background-size: cover;
  width: 100%;
  min-height: 350px !important;
  position: relative;
  top: 0;
  left: 0;
  background-attachment: fixed;
}

.extra-section-div::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100% !important;
  top: 0;
  left: 0;
  background: linear-gradient(
    180deg,
    rgba(51, 42, 209, 0.6558998599439776) 24%,
    rgba(107, 233, 241, 0.700717787114846) 84%
  );
  z-index: 1;
}

/*----------------------------- section-5 : Reviews---------------------------------------  */
.review-col{
  min-width: 350px ;
}
.review .person{
  display: flex;
  align-items: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.07);
  padding-bottom: 18px;
}
.review .person img{
  width: 75px;
  height: 75px;
  border-radius: 100px;
}
/*----------------------------- section-6 : Blog---------------------------------------  */

/*----------------------------- section-7 : Contact--------------------------------------- */
#contact {
  background: url(./img/s.1.services/services-img-2.jpg) no-repeat center;
  background-size: cover;
  position: relative;
  background-attachment: fixed;
}
#contact::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100%;
  background: linear-gradient(
    180deg,
    rgba(70, 62, 235, 0.8) 24%,
    rgba(107, 233, 241, 0.8) 84%
  );
}
input[type="text"]::placeholder {
  color: white;
}

input[type="email"]::placeholder {
  color: white;
}
textarea::placeholder {
  color: #fff !important;
}

input[type="text"]:focus {
  border: 1.5px solid white !important;
}
input[type="email"]:focus {
  border: 1.5px solid white !important;
}
textarea:focus {
  border: 1.5px solid white !important;
}
/* footer  */
.footer {
  background: linear-gradient(
    90deg,
    rgba(107, 233, 241, 0.9500175070028011) 0%,
    rgba(51, 42, 209, 0.8519782913165266) 100%
  );
}

/*----------------------------------- media queries  -----------------------------------------*/
@media screen and (max-width: 320px) {
  #contact::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100%;
    background: linear-gradient(
      180deg,
      rgba(70, 62, 235, 0.8) 24%,
      rgba(107, 233, 241, 0.8) 84%
    );
  }
  
}

@media screen and (min-width: 1400px) {
  .section {
    height: 0 !important;
  }

}
